**YAP 101 Homework-1**  
Due Date: 8 February 2022 23:59

**Q1 [15 Points]** 

Let a be a 1x4 matrix where its elements are [1,2,3,4]

Let b be a 4x1 matrix where its elements are [1,2,3,4] (i.e., transpose of a)

Then find the result of a*b  without using any library

Note: For matrix-matirx multiplications you can check https://mathinsight.org/matrix_vector_multiplication

In [11]:
a = [1,2,3,4]
b = [1,2,3,4]

c = 0


for i in range(0,4):
    c += a[i]*b[i]

print(c)

30

**Q2 [5 points]** Find the result of a*b using numpy

In [16]:
import numpy as np

a = np.array([1,2,3,4])
b = a.T

c = np.dot(a,b)

print(c)

30

**Q3  [20 points]**  Write a function which returns true if the given parameter is a palindrome. Otherwise, it should return False.

You cannot write recursive function for this question. You should not use any library.

In [3]:
def func(x):
    a = list(str(x))
    for i in range(0,len(a)//2):
        if(a[i] == a[-1-i]):
            continue
        else:
            return False
    return True

func(1234321)

True

**Q4  [20 points]** Today is Monday, 31/01/2022. What will be the day of the week, month and year after 14,401,401 days.

In [4]:
x = 14401401+31

k = 2;

yeni_yil = 2022

while (x > 365):
    if k%4 != 0:
        x = x-365
    else:
        if(yeni_yil%100 == 0):
            if(yeni_yil%400 == 0):
                x = x-366
            else:
                x = x-365
        else:
            x = x-366
    k+=1
    yeni_yil = yeni_yil+1
    
k = k-1

yeni_gun = ""

yeni_ay = ""

if(k % 4 != 0):
    if(0<x<=31): 
        yeni_ay = "January"
    elif(31<x<=59):
        yeni_ay = "February"
    elif(59<x<=90):
        yeni_ay = "March"
    elif(90<x<=120):
        yeni_ay = "April"
    elif(120<x<=151):
        yeni_ay = "May"
    elif(151<x<=181):
        yeni_ay = "June"
    elif(181<x<=212):
        yeni_ay = "July"
    elif(212<x<=243):
        yeni_ay = "August"
    elif(243<x<=273):
        yeni_ay = "September"
    elif(273<x<=304):
        yeni_ay = "October"
    elif(304<x<=334):
        yeni_ay = "November"
    elif(334<x<=365):
        yeni_ay = "December"
        
else:
    if(0<x<=31): 
        yeni_ay = "January"
    elif(31<x<=60):
        yeni_ay = "February"
    elif(60<x<=91):
        yeni_ay = "March"
    elif(91<x<=121):
        yeni_ay = "April"
    elif(121<x<=152):
        yeni_ay = "May"
    elif(152<x<=182):
        yeni_ay = "June"
    elif(182<x<=213):
        yeni_ay = "July"
    elif(213<x<=244):
        yeni_ay = "August"
    elif(244<x<=274):
        yeni_ay = "September"
    elif(274<x<=305):
        yeni_ay = "October"
    elif(305<x<=335):
        yeni_ay = "November"
    elif(335<x<=366):
        yeni_ay = "December"
    

gun = 14401401%7

if(gun==0):
    yeni_gun = "Monday"
elif(gun==1):
    yeni_gun = "Tuesday"
elif(gun==2):
    yeni_gun = "Wednesday"
elif(gun==3):
    yeni_gun = "Thursday"
elif(gun==4):
    yeni_gun = "Friday"
elif(gun==5):
    yeni_gun = "Saturday"
elif(gun==6):
    yeni_gun = "Sunday"
    
print("day of the week: " + str(yeni_gun) + "\nmonth: " + str(yeni_ay) +  "\nyear: " + str(yeni_yil))

day of the week: Monday
month: October
year: 41451

**Q5 [20 Points]** 
Let A be an array as follows. 1,3,5,7,9,11,...,997,999 
Let B be an array as follows. 3,5,7,9,11,13..,999,1001

Find the Euclidian distance between these two arrays. 
You cannot use any library for this question.

In [4]:
def Euclidian_distance(m1,m2):
    Euclidian = 0
    
    for k in range(len(m1)):
        Euclidian += (m1[k]- m2[k])**2
    Euclidian =  Euclidian**(1/2)
    return ('{:.2f}'.format(Euclidian))

A = list(range(1,1000,2))
B = list(range(3,1002,2))

print(Euclidian_distance(A,B))

44.72

### **Q6 [10 Points]** 

Define a function which returns the sum of numbers in a given number. For instance, for 1234, it should return 10 (1 + 2 + 3 + 4)

In [9]:
def toplam(x):
    t = 0
    a = list(str(x))
    for i in range(0,len(a)):
        t+=int(a[i])
    return t



print(toplam(255227772))

39

**Q7 [10 Points]** Define a function which will take a parameter n and "draw" a trianglte which has a height of n, its to sides should be equal and the other line should habe 2n-1 length.
For instance, if n=4, it should pritn the following
    
         x
        xxx
       xxxxx
      xxxxxxx
 
If n = 5, it should pritn the following

        x
       xxx
      xxxxx
     xxxxxxx
    xxxxxxxxx

In [20]:
def agac(x):
    taban = 2*x-1
    sayac = 1
    
    for i in range(x,0,-1):
        sol = ""
        orta = ""
        for i in range(0,i):
            sol += " "
        for i in range(0,sayac):
            orta += "x"
        print(sol + orta)
        sayac+=2
            
            
agac(4)

print("\n************************")

agac(5)

    x
   xxx
  xxxxx
 xxxxxxx

************************
     x
    xxx
   xxxxx
  xxxxxxx
 xxxxxxxxx